<h1>Card Collections</h1>


<% Sport.all.each do |sport| %>

<h3><%= sport.name %> Card Collections</h3>


<ul class="long-list">
<% sport.collections.sort_by{|collection| collection.name.downcase }.each do |collection| %>
<li><a href="/collections/<%= collection.id %>"><%= collection.name %></a></li>
<% end %>
</ul>

<% end %>