<h1><%= @team.name %></h1>

<h3>Players (current & historic):</h3>

<ul class="long-list">

    <% @team.players.sort_by{|player| player.name.downcase }.uniq.each do |player| %>
    <li><a href="/players/<%= player.slug %>"><%= player.name %></a></li>
    <% end %>
    
    </ul>