<h1>Welcome, <%= @user.name %></h1>

<h3>My Collections</h3>
<% @user.collections.each do |collection| %>
<ul>
<li><a href="/collections/<%= collection.id %>"><%= collection.name %></a>(Value: &#36;<%= collection.getValue.round(2) %>)</li>
</ul>
<% end %>
<form action="/collections/new" method="get">
       
    <input type="submit" value="Create a new collection">
</form><br><br>

<a href="/collections">View collections from other users</a>