<h1>Welcome, <%= @user.name %></h1>

<h3>My Collections</h3>
<% @user.collections.each do |collection| %>
<ul>
<li><a href="/collections/<%= collection.slug %>"><%= collection.name %></a></li>
</ul>
<% end %>

<h3>My Cards</h3>

<h3>My Players</h3>

<h3>My Teams</h3>

<h3>Total value of all collections: </h3>