<h1>Welcome, <%= @user.name %></h1>

<h3>My Collections</h3>
<% @user.collections.each do |collection| %>
<ul>
<li><a href="/collections/<%= collection.id %>"><%= collection.name %></a>(Value: &#36;<%= collection.getValue %></li>
</ul>
<% end %>
<form action="/collections/new" method="get">
       
    <input type="submit" value="Create a new collection">
    </form>


<h3>My Cards</h3>

<h3>My Players</h3>

<h3>My Teams</h3>

<h3>Total value of all collections: </h3>